<template>
  <label class="input" for>
    <input class="input__item" :placeholder="placeholder" type="text" @input="triggerEvent">
  </label>
</template>

<script>
export default {
  name: "Input",
  props: {
    placeholder: String,
    typeInput: String
  },
  data() {
    return {
      regex: {
        onlyNumber: /[^0-9]/g,
        alphaNumeric: /[^a-z0-9]*/g,
        onlyText: /[^a-záéíóúñ ]/g
      }
    };
  },
  methods: {
    triggerEvent(event) {
      event.target.value = event.target.value.replace(this.regex[this.typeInput], "")
      this.$emit("input", event.target.value);
    }
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.input__item {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid white;
  color: white;
  display: block;
  outline: none;
  padding: 5px;
  margin: 5px;
  width: 100%;
}
</style>
