<template>
  <section class="wrapper-image">
    <img class="wrapper-image__img" :src="require(`@/assets/${img}`)" alt>
    <div class="wrapper-image__content">
      <h2 class="wrapper-image__title">{{title}}</h2>
      <p class="wrapper-image__subTitle">{{subTitle}}</p>
    </div>
  </section>
</template>

<script>
export default {
  name: "WrapperImage",
  props: {
    title: String,
    subTitle: String,
    img: String
  },
  data() {
    return {};
  },
  mounthed() {}
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.wrapper-image {
  position: relative;
  overflow: hidden;
  background-color: black;
  font-size: 0;
}
.wrapper-image__content {
  position: absolute;
  left: 50%;
  top: 50%;
  color: white;
  transform: translate(-50%, -50%);
  font-size: initial;
}
.wrapper-image__img {
  height: 100vh;
  min-width: 100vw;
  opacity: 0.5;
}

.wrapper-image__title {
  text-transform: capitalize;
}

.wrapper-image__subTitle {
  text-transform: uppercase;
}
</style>
