<template>
  <section class="client-production">
    <div class="client">
      <h2 class="client__title">NUESTROS CLIENTES</h2>
      <div class="client_images">
        <img class="client_image" src="@/assets/avalue.svg" alt="avalue">
        <img class="client_image" src="@/assets/bni.jpeg" alt="bni">
        <img class="client_image" src="@/assets/universidad.jpeg" alt>
        <img class="client_image" src="@/assets/staff.jpeg" alt="staff">
        <img class="client_image" src="@/assets/money.svg" alt="money">
      </div>
    </div>
    <div class="production">
      <h2 class="production__title">Producción</h2>
      <p class="production__text">
        Nuevas aplicaciones al contenido multimedia por medio de drones. Monitoreo e inspecciones de
        infraestructura, promocion de servicios, registro de eventos, producciones personales.
      </p>
      <div class="production__images">
        <figure class="production__image-wrapper">
          <img class="production__image" src="@/assets/foto.jpg" alt="foto">
          <figcaption class="production__description">FOTOS</figcaption>
        </figure>
        <figure class="production__image-wrapper">
          <img class="production__image" src="@/assets/video.jpg" alt="vivo">
          <figcaption class="production__description">VIDEOS</figcaption>
        </figure>
        <figure class="production__image-wrapper">
          <img class="production__image" src="@/assets/vivo.jpg" alt="en vivo">
          <figcaption class="production__description">EN VIVO</figcaption>
        </figure>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: "Client"
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.client-production {
  padding: 5%;
}
.client__title {
  font-size: 16px;
}
.client_images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.production__text {
  font-size: 14px;
  line-height: 20px;
}
.production__images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.production__title {
  font-size: 35px;
}
.production__image {
  width: 80px;
  margin-bottom: 10px;
}
.production__description {
  font-weight: bold;
}
.client_image { 
  margin: 20px
}
@media only screen and (min-width: 768px) {
  .client_images {
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: space-between
  }
  .client_image {
    width: 18%;
    margin: 0;
  }
  .production__text{
    max-width: 600px;
    margin: 0 auto 30px auto;
  }
}
@media only screen and (min-width: 1200px) {
  .client-production {
    height: 100vh;
  }
  .production__image-wrapper{
    margin: 30px 80px 
  }
}
</style>
