<template>
  <div id="app">
    <Header :position="position"></Header>
    <WrapperImage title="innmobiliaria" subTitle="vive a la altura" img="inmobilaria.jpg"/>
    <WrapperImage title="Construcción" subTitle="tenlo todo bajo control" img="inmobilaria.jpg"/>
    <WrapperImage title="Evento" subTitle="revive experiencias" img="inmobilaria.jpg"/>
    <WrapperImage title="mineria" subTitle="visualiza el éxito" img="inmobilaria.jpg"/>
    <Client ref></Client>
    <Contact ref="contact"></Contact>
  </div>
</template>

<script>
import WrapperImage from "@/components/WrapperImage/WrapperImage";
import Header from "@/components/Header/Header";
import Client from "@/components/Client/Client";
import Contact from "@/components/Contact/Contact";

export default {
  name: "Home",
  data() {
    return {
      position: ""
    };
  },
  components: {
    Header,
    WrapperImage,
    Client,
    Contact
  },
  mounted() {
    this.position = this.$refs.contact.$el.offsetTop;
  }
};
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
* {
  box-sizing: border-box;
}
</style>
