<template>
  <section class="contact">
    <div class="contact__item">
      <h2 class="contact__title">Contacto</h2>
      <p class="contact__subTitle" :class="{'contact__subTitle--opacity':showForm}">
        Cambia la forma de ver las cosas,
        <span
          class="contact__subTitle--underline"
          @click="showForm= true"
        >hablemos.</span>
      </p>
      <ul class="contact-list">
        <li class="contact-list__item">01 775 5091</li>
        <li class="contact-list__item">hola@hoverit.com</li>
        <li class="contact-list__item">Calle las fresas 491 - Miraflores - Lima</li>
      </ul>
    </div>
    <div class="contact__item" v-if="showForm">
      <p class="contact__text">!Dejanos un mensaje!</p>
      <form class="contact-form" @submit="onSubmit" action method="post">
        <div class="contact-form__wrapper-input">
          <Input placeholder="Nombre" typeInput="onlyText" v-model="form.name.input"></Input>
          <span v-if="form.name.showError" class="contact-form__error">El campo es requerido</span>
        </div>
        <div class="contact-form__wrapper-input">
          <Input placeholder="Teléfono" typeInput="onlyNumber" v-model="form.phone.input"></Input>
          <span v-if="form.phone.showError" class="contact-form__error">El campo es requerido</span>
        </div>
        <div class="contact-form__wrapper-input">
          <textarea
            class="contact-form__textarea"
            placeholder="Mensaje"
            v-model="form.message.input"
          ></textarea>
          <span v-if="form.message.showError" class="contact-form__error">El campo es requerido</span>
        </div>
        <div class="contact-form__wrapper-input">
          <button class="contact-form__submit">Enviar</button>
        </div>
      </form>
    </div>
  </section>
</template>

<script>
import Input from "@/components/Input/Input";

export default {
  name: "Contact",
  components: {
    Input
  },
  props: {
    title: String,
    subTitle: String,
    img: String
  },
  data() {
    return {
      form: {
        phone: {
          input: "",
          showError: false
        },
        name: {
          input: "",
          showError: false
        },
        message: {
          input: "",
          showError: false
        }
      },
      showForm: false
    };
  },
  methods: {
    validatedForm() {
      for (const key in this.form) {
        this.form[key].showError = false;
        if (this.form[key].input == "") {
          this.form[key].showError = true;
        }
      }
    },
    onSubmit(e) {
      e.preventDefault();
      this.validatedForm();
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.contact {
  background-color: #222222;
  color: white;
  padding: 5%;
}
.contact__title {
  font-size: 35px;
  text-align: left;
  margin-bottom: 10px;
}
.contact__text {
  font-size: 30px;
  text-align: left;
  margin-bottom: 40px;
}
.contact__subTitle {
  text-align: left;
  font-size: 20px;
  margin-bottom: 50px;
}
.contact__subTitle--underline {
  text-decoration: white underline;
  cursor: pointer;
}
.contact__subTitle--opacity {
  opacity: 0;
}
.contact-list {
  list-style: none;
  text-align: left;
  padding-inline-start: 0;
}
.contact-list__item {
  margin-top: 20px;
}

.contact-form__wrapper-input {
  margin-bottom: 50px;
}

.contact-form__textarea {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid white;
  color: white;
  display: block;
  outline: none;
  padding: 5px;
  margin: 5px;
  width: 100%;
}

.contact-form__submit {
  background-color: transparent;
  color: white;
  border: none;
  text-align: right;
  cursor: pointer;
  padding: 5px 10px;
  outline: none;
}
.contact-form__error {
  color: #da0404;
  text-align: left;
  display: block;
  font-size: 14px;
}

@media only screen and (min-width: 768px) {
  .contact {
    display: flex;
  }
  .contact__item {
    width: 50%;
  }
}
@media only screen and (min-width: 1200px) {
  .contact {
    height: 100vh;
    padding: 20vh 10vw;
  }
}
</style>
