<template>
  <header class="menu">
    <div class="menu__links" ref="other">
      <a href="#" class="menu__contact" @click="handleScroll">Contacto</a>
    </div>
      <img class="menu__logo" src="@/assets/hoverit.png" alt="logo-Hoverit">
  </header>
</template>

<script>
export default {
  name: "Header",
  props:['position'],
  methods:{
    handleScroll(){
      window.scroll(0, parseInt(this.position) )
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.menu {
  position: fixed;
  width: 100%;
  z-index: 20;
  background-color: #0000002b;
}

.menu__logo {
  width: 140px;
  margin-top: -20px;
}

.menu__links{
  text-align: right;
  margin: 30px 30px 0 0 
}
.menu__contact {
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
  font-weight: 100;
}
</style>
